.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  /* background-color: #7795f8; */
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.buttom-payment {
  float: right;
  margin-top: 1em;
  margin-bottom: 1.5em;
  /* height: 3em; */
  width: 10em;
  cursor: pointer;
  border: 1px solid rgb(34, 156, 255);
  color: #fff;
  font-size: 16px;
  background-color: rgb(34, 156, 255);
  border-radius: 8px;
  padding: 9px 25px;
  height: 45px;
  transition: all 0.5s ease-in-out;
}

.p-payment-price {
  font-size: 2em;
  font-weight: 300;
  font-family: "Raleway";
  text-align: center;
  padding-top: 0.5em;
}

.span-payment-title {
  font-family: "Raleway";
  font-size: 1.5em;
}

.span-payment {
  font-family: "Raleway";
  padding-left: 0.5em;
}

.button-copy {
  margin-left: 1em;
}

.p-payment-title {
  text-align: center;
}

.p-payment-title1 {
  font-size: 1.6em;
  font-family: "Raleway";
}

.span-title {
  padding-inline-end: 1em;
  font-family: "Raleway";
  font-size: 1.2em;
}

.div-payment {
  /* padding-left: 1.2em; */
  text-align: center;
}

.buttom-payment:hover {
  border: 1px solid rgb(34, 156, 255);
  color: rgb(34, 156, 255);
  background-color: aliceblue;
}
