.div-change-profile{
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-areas: 
    ". settings ."
    ". settings ."  
  ;
}

.img-sett-fon{
  height: 62em;
  opacity: 0.5;
}

.div-block-sett{
  background-color: white;
  grid-area: settings;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 1fr 1fr 1fr 5%;
  grid-template-areas: 
    ". avatar avatar myself myself myself buttonBack ."
    ". navBar navBar myself myself myself . ."  
  ;
  position: relative;
  z-index: 2;
}

.div-button-back{
  grid-area: buttonBack;
}

.div-avatar-change{
  grid-area: avatar;
}

.nav-change-profile{
  grid-area: navBar;
}

.div-profile-all{
  grid-area: myself;
}

.img-avatar-change{
  border-radius: 50%;
  max-width: 80%;
  max-height: 80%;
}