.div-sign-up {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "imgFon imgFon imgFon imgFon formSignUp formSignUp formSignUp formSignUp";
}

.div-sign-up-left {
  grid-area: imgFon;
}

.div-sign-up-right {
  grid-area: formSignUp;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 1fr 20%;
  grid-template-areas: ". signUp signUp signUp signUp .";
}

.div-sign-up-right-form {
  margin-top: 0em;
  grid-area: signUp;
  margin-top: 28%;
}

.div-sign-up-right-form-block{
  margin-left: 2%;
  margin-top: 5%;
}

.button-auth {
  background-color: white;
  border: 2px solid rgb(248, 200, 41);
  border-radius: 4px;
  color: rgb(255, 136, 0);
  height: 2.8em;
  width: 10em;
  font-weight: 300;
}

.button-auth:hover {
  background-color: rgb(252, 174, 59);
  border: 2px solid rgb(252, 174, 59);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  height: 2.8em;
  width: 10em;
  font-weight: 300;
}

.img-sign-up {
  height: 900px;
  width: 900px;
}


@media only screen and (max-width: 1800px) {
  .img-sign-up {
    height: 800px;
    width: 800px;
  }
  .div-sign-up-right {
    grid-area: formSignUp;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". signUp signUp signUp signUp .";
  }
}

@media only screen and (max-width: 1700px) {
  .img-sign-up {
    height: 750px;
    width: 750px;
  }
}

@media only screen and (max-width: 1500px) {
  .img-sign-up {
    height: 700px;
    width: 700px;
  }
}

@media only screen and (max-width: 1350px) {
  .img-sign-up {
    height: 600px;
    width: 600px;
  }
  .div-sign-up-right-form {
    grid-area: signUp;
    margin-top: 20%;
  }
}

@media only screen and (max-width: 1200px) {
  .img-sign-up {
    height: 550px;
    width: 550px;
  }
  .div-sign-up-right-form {
    grid-area: signUp;
    margin-top: 15%;
  }
  .div-sign-up-right {
    grid-area: formSignUp;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr;
    grid-template-areas: ". signUp signUp signUp";
  }
}


@media only screen and (max-width: 1100px) {
  .img-sign-up {
    height: 550px;
    width: 550px;
  }
  .div-sign-up-right {
    grid-area: formSignUp;
    display: grid;
    grid-template-columns: 20% 1fr 1fr 1fr;
    grid-template-areas: ". signUp signUp signUp";
  }
}

@media only screen and (max-width: 1000px) {
  .img-sign-up {
    height: 450px;
    width: 440px;
  }
  .div-sign-up-right-form {
    grid-area: signUp;
    margin-top: 5%;
  }
  .div-sign-up-right {
    grid-area: formSignUp;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr;
    grid-template-areas: ". signUp signUp signUp";
  }
}

@media only screen and (max-width: 900px) {
  .img-sign-up {
    height: 0px;
    width: 0px;
  }

  .div-sign-up {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "formSignUp formSignUp formSignUp formSignUp";
  }
  
  .div-sign-up-left {
    grid-area: imgFon;
  }
  
  .div-sign-up-right {
    grid-area: formSignUp;
    display: grid;
    grid-template-columns: 15% 1fr 1fr 1fr 1fr 5%;
    grid-template-areas: ". signUp signUp signUp signUp .";
  }
  
  .div-sign-up-right-form {
    /* margin-top: 0em; */
    grid-area: signUp;
    margin-top: 3%;
  }
  
  .div-sign-up-right-form-block{
    /* margin-left: 2%; */
    margin-top: 5%;
  }

  .div-sign-up-right {
    grid-area: formSignUp;
    display: grid;
    grid-template-columns: 15% 1fr 1fr 5%;
    grid-template-areas: ". signUp signUp .";
  }
}

@media only screen and (max-width: 900px) {
  .img-sign-up {
    height: 0px;
    width: 0px;
  }

  .div-sign-up {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "formSignUp formSignUp formSignUp formSignUp";
  }
  
  .div-sign-up-left {
    grid-area: imgFon;
  }
  
  .div-sign-up-right {
    grid-area: formSignUp;
    display: grid;
    grid-template-columns: 15% 1fr 1fr 1fr 1fr 5%;
    grid-template-areas: ". signUp signUp signUp signUp .";
  }
  
  .div-sign-up-right-form {
    /* margin-top: 0em; */
    grid-area: signUp;
    margin-top: 3%;
  }
  
  .div-sign-up-right-form-block{
    /* margin-left: 2%; */
    margin-top: 5%;
  }

  .div-sign-up-right {
    grid-area: formSignUp;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-areas: ". signUp signUp .";
  }
  .button-auth {
    background-color: white;
    border: 2px solid rgb(248, 200, 41);
    border-radius: 4px;
    color: rgb(255, 136, 0);
    height: 2.8em;
    margin-left: 30%;
    width: 10em;
    font-weight: 300;
  }
  
  .button-auth:hover {
    background-color: rgb(252, 174, 59);
    border: 2px solid rgb(252, 174, 59);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    height: 2.8em;
    width: 10em;
    font-weight: 300;
  }
}