@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap");

.div-contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header header header"
    ". map map map map ."
    ". info info info info ."
    "footer footer footer footer footer footer";
}

.div-maps {
  grid-area: map;
  height: 500px;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 6em;
  margin-right: 6em;
}

.span-contact-message-title {
  font-family: "Raleway", sans-serif;
  font-size: 27px;
  font-weight: 600;
  grid-area: titleMessage;
}

textarea {
  color: #e5e6e9;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  height: 100px;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  column-count: initial !important;
  padding-top: 2px;
}

.span-contact-block-title {
  grid-area: titleContact;
  margin-bottom: 0;
  font-size: 16px;
  color: #2a2a2a;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

.span-contact-block-text {
  grid-area: comment;
  padding-top: 0.5em;
  margin-bottom: 0;
  padding-right: 3em;
  font-size: 16px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  color: #8a8a8a;
}

textarea:active {
  border: 1px solid #e5e6e9;
}

.div-contact-block1,
.div-contact-block2,
.div-contact-block3 {
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: 10% 7% 85%;
  grid-template-areas:
    "iconContact . titleContact"
    "iconContact . comment";
}

.icon-contact {
  grid-area: iconContact;
  margin-right: 5em;
  color: #8f9195;
  font-weight: 100;
  font-size: 27px;
}

textarea::placeholder {
  color: #a6acb1;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.input-contact-message {
  border: 1px solid #e5e6e9;
  height: 100px;
  margin-top: 2em;
  padding-left: 18px;
  padding-top: 0.8em;
  font-size: 16px;
  background: transparent;
  height: 200px;
  width: 100%;
  font-family: inherit;
  line-height: 1.5;
  color: #495057;
}

.button-contact-send {
  margin-top: 2em;
  height: 4em;
  width: 9em;
  border: 1px solid rgb(34, 156, 255);
  border-radius: 1px;
  background: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
  color: #009dff !important;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button-contact-send:hover {
  background-color: rgb(34, 156, 255);
  color: #fff !important;
  margin-top: 2em;
  height: 4em;
  width: 9em;
  border: 1px solid rgb(34, 156, 255);
  border-radius: 1px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button-contact-send:disabled{
  margin-top: 2em;
  height: 4em;
  width: 9em;
  border: 1px solid rgba(122, 123, 124, 0.541);
  border-radius: 1px;
  background: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
  color: #49494991 !important;
  text-transform: uppercase;
  cursor: pointer;
}

.div-contacts-info {
  grid-area: info;
  margin-left: 6em;
  margin-right: 6em;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-areas:
    "titleMessage ."
    "message contact";
}

.div-contact-message {
  grid-area: message;
  min-height: 170px;
}

.div-contact-contact {
  grid-area: contact;
  margin-left: 8em;
  margin-top: 2em;
}

.div-contact-header {
  text-align: center;
  padding-top: 15%;
  grid-area: header;
  background-size: 100% 500px;
  background-image: url("https://preview.colorlib.com/theme/montana/img/banner/bradcam3.png");
  height: 54vh;
}

.div-contact-footer {
  grid-area: footer;
  margin-top: 5%;
}

.p-contact-title {
  font-family: "Raleway", sans-serif;
  font-style: initial;
  font-size: 60px;
  color: #fff;
}

.span-contact-help-message{
  margin-left: 2em;
  font-family: "Raleway", sans-serif;
  font-style: initial;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 1px;

}

.button-close{
  cursor: pointer;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 0.25em 0 0;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
}

.button-close:hover{
  background: #d1d1d1 none;
}

.modal-header{
  padding-left: 2em;
}

.modal-body{
  padding-left: 2em;
  line-height: 1.5em;
  font-size: 15px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
