@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap");

.div-ab-comments {
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr 1fr 15%;
  grid-template-areas:
    ". . title title . ."
    ". . textA textA . ."
    ". comment comment comment comment .";
  text-align: center;
}

.div-ab-comments-block {
  grid-area: comment;
}

.span-ab-comments-title {
  grid-area: title;
  font-family: "Raleway", sans-serif;
  font-size: 37px;
  font-weight: 600;
  margin-bottom: 0.7em;
}

.span-ab-comments-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  grid-area: textA;
  line-height: 30px;
  margin-bottom: 4em;
}

.div-ab-comments-item {
  text-align: left;
  background: #fff;
  padding-bottom: 5em;
  border-radius: 15px;
  display: inline-block;
  height: 284px;
  width: 367px;
  box-shadow: 0 0 10px rgba(219, 219, 219, 0.767);
  margin-right: 25px;
}

.bnm {
  position: absolute;
  margin-top: -20px;
  margin-left: 290px;
  font-size: 50px;
  color: rgb(34, 156, 255);
}

.bnm1 {
  position: absolute;
  margin-bottom: 5px;
  font-size: 20px;
  color: #fca702;
  grid-area: stars;
}

.div-ab-comments-item-title {
  margin-left: 30px;
  margin-right: 60px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "stars"
    "titleComment"
    "user";
}

.span-ab-comment {
  grid-area: titleComment;
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
}

.div-ab-comments-user {
  grid-area: user;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    "avatarUser nameUser"
    ". status";
}

.img-ab-comments-avatar {
  border-radius: 50%;
  grid-area: avatarUser;
  margin-right: 20px;
  border: 2px solid #fca702;
  border-radius: 50px;
  padding: 5px;
}

.span-ab-comments-userName {
  grid-area: nameUser;
  margin-top: 10px;
  margin-left: -10px;
  color: #005;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
}

.span-ab-comments-status {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  color: #14212b;
  line-height: 1.8;
  margin-top: -40px;
  margin-left: -10px;

  grid-area: status;
  /* font-size: 12px; */
  font-family: "Raleway", sans-serif;
}
