.book-room {
  display: grid;
  grid-template-columns: 19% 1fr 1fr 1fr 1fr 19%;
  grid-template-areas:
    "header header header header header header"
    ". book book book book ."
    "footer footer footer footer footer footer";
}

.p-book-room-title {
  font-family: "Raleway", sans-serif;
  font-style: initial;
  font-size: 60px;
  color: #fff;
}

.book-room-block {
  grid-area: book;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-areas:
    "block1 block2"
    ". block2"
    "block3 ."
    "block4 .";
}

.book-room-block1 {
  grid-area: block1;
  float: left;
  margin: 100px 20px 30px 0;
}

.book-room-block2 {
  grid-area: block2;
  float: right;
  margin: 100px 20px 30px 0;
}

.book-room-block3 {
  grid-area: block3;
  float: left;
  margin: -50px 20px 30px 0;
}

.book-room-block4 {
  grid-area: block4;
  float: left;
  margin: 5px 20px 30px 0;
}

.book-room-block1,
.book-room-block2,
.book-room-block3,
.book-room-block4 {
  box-shadow: 0 3px 24px rgb(0 0 0 / 10%);
  padding: 30px;
  border-radius: 10px;
}

.book-room-header {
  text-align: center;
  padding-top: 10%;
  grid-area: header;
  background-size: 100% 400px;
  background-image: url("https://preview.colorlib.com/theme/montana/img/banner/bradcam.png");
  height: 40vh;
}

.book-room-footer {
  grid-area: footer;
}

.book-block1-title {
  color: #1b1b1b;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 1.2;
  font-size: 24px;
}

label {
  color: #999;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 7px;
}

.book-room-input,
.book-room-input-num {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  padding: 10px 18px;
  border-radius: 8px;
  box-shadow: none;
  margin-bottom: 20px;
}

.book-room-input {
  width: 100%;
}

.right-1 {
  float: left;
  width: 47%;
  /* margin-right: 3px; */
}

.right-2 {
  float: right;
  width: 47%;
  /* margin-left: 1px; */
}

.book-room-input-num {
  width: 100%;
  text-align: right;
}

.book-room-input:focus {
  color: red;

  border-color: red;
}

.right {
  float: right;
  width: 50%;
  padding-left: 10px;
}

.right-start {
  float: inline-end;
  width: 50%;
  background-color: aqua;
  border: 1px solid red;
}

.left {
  float: left;
  width: 50%;
  padding-right: 10px;
}

.book-block2-title {
  color: #1b1b1b;
  /* margin: 0; */
  font-weight: 600;
  font-family: sans-serif;
  line-height: 1.2;
  font-size: 24px;
  margin-bottom: 25px;
}

.block2-line {
  margin-top: 220px;
  background-color: #999;
  height: 1px;
  width: 100%;
}

strong.left {
  font-weight: 700;
  font-size: 16px;
  font-family: sans-serif;
  /* background-color: red; */
  margin-top: 15px;
}

span.right,
span.right-strong {
  float: right;
  text-align: right;
  font-family: sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: #14212b;
  margin-top: 15px;
}

span.right-strong {
  font-weight: 700;
}

.block2-button {
  margin-top: 40px;
  cursor: pointer;
  width: 45%;
  border: 1px solid rgb(34, 156, 255);
  color: #fff;
  font-size: 16px;
  background-color: rgb(34, 156, 255);
  border-radius: 8px;
  padding: 9px 25px;
  height: 50px;
  transition: all 0.5s ease-in-out;
  float: right;
}

.block2-button:hover {
  border: 1px solid rgb(34, 156, 255);
  color: rgb(34, 156, 255);
  background-color: aliceblue;
}
